<% layout('layouts/boilerplate') -%>

<h1><%= campground.title %> </h1>
<img src="<%= campground.image%> " alt="">
<h2><%= campground.price %> </h2>
<footer>
    <a href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
    <div>
        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>

    </div>
    <a href="/campgrounds">All Campground</a>
</footer>